@{
    ViewBag.Title = "Home Page";
    Layout = null;
}

@model CasperAsp.Models.Users

<head>
    <link rel="stylesheet" type="text/css" href="~/Content/login.css"/>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
</head>
<body>
    <div class="global-container">
        <div id="log">
            @using (Html.BeginForm("Connect_Click", "Home", FormMethod.Post))
            {
                <div class="login-form">
                    @Html.LabelFor(m => m.UserName)
                    @Html.TextBoxFor(m => m.UserName)<br />
                </div>
                <div class="login-form">
                    @Html.LabelFor(m => m.UserPassword)
                    @Html.TextBoxFor(m => m.UserPassword)<br />
                </div>
                <div class="login-form">
                    <input type="submit" value="Connexion" id="bouton"/>
                </div>
             }
        </div>

    </div>

</body>

